.aiImageGen {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 40px;
}
.image {
  display: flex;
}
img {
  width: 512px;
}
.header {
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
* {
  margin: 0px;
  padding: 0px;
}
span {
  color: purple;
}

.searchBox {
  display: flex;
  border-radius: 20px;
  margin-top: 20px;
  width: 630px;
  justify-content: space-between;
  align-items: center;
  background-color: #1f3540;
  justify-content: center;
}
.searchInput {
  display: flex;
  width: 100%;
  background-color: transparent;
  padding: 5px;
  border: none;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-top-right-radius: 0px;
  color: white;
  border-bottom-right-radius: 0px;
  padding: 10px;
}
button {
  background-color: transparent;
  color: white;
  padding: 5px;
  background-color: purple;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 10px;
  border: none;
  width: 150px;
}
.loadingBar {
  width: 0px;
  height: 8px;
  background: #de1b89;
}
.loadingText {
  font-size: 18px;
  display: flex;
}
.loadingBarFull {
  width: 512px;
  height: 8px;
  background: #de1b89;
  transition: 15s;
}
.displayNone {
  display: none;
}
